/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 2em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.block {
  padding: 1em;
  margin: .5em;
  border: 1px solid #000;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.row-end
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.build-container
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
